.logo, .footerlogo{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
  }

  .navbar{
    z-index: 5000;
    width: -webkit-fill-available;
    padding: 0.9rem 5rem 1.3rem 5rem;
  }

  .navlinks {
    padding: 0 1.5rem;
    font-size: 15px;
  } 

.navlinks a{
    opacity: 80%;
    position: relative;
    text-transform: uppercase;
  } 

.navlinks a:hover{
    opacity: 100%;
}

.navlinks a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
.footerBrand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footerLogoRow {
  display: flex;
  flex-direction: column;
  /* stack vertically */
  align-items: flex-start;
  /* align left; use center if you prefer */
  gap: 0.4rem;
  padding-left: 6rem;
}

.footerAvatar {
  width: 200px;
  height: 200px;
  border-radius: 999px;
  object-fit: cover;
}
.footerlogo {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.navlinks a:hover:after {
  width: 100%;
  transition: 0.25s linear;
}

.footermain{
  padding: 2rem;
  text-align: center;
}

.footercontent{
  text-align: center;
  font-size: 16px;
  margin-top: 2rem;
  
}
.footerTagline{
  padding-left: 3rem;
}

.footertable {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  margin: 2rem auto;
  width: 80%;
}

.footertable ul{
  list-style: none;
  text-align: left;
}

.footertable li{
  font-size: 14px;
  margin: 0.2rem 0;
  text-transform: capitalize;
}

.footertable li:hover{
  text-decoration: underline;
}

.listHeading{
  font-weight: bold;
  font-size: 16px !important;
}

.listHeading:hover{
  text-decoration: none !important;
}

@media only screen and (max-width: 550px) {
  .footerlogo {
    font-size: 22px;
    letter-spacing: 0.1em;
  }
    .footerTagline {
      padding-left: 0;
    }

  .footermain {
    text-align: left;
    padding: 1.5rem 1.5rem 2rem;
  }

  .footertable {
    display: block;
    width: 100%;
    margin: 0 auto 0 auto;
  }

  .footerBrand {
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .footerLogoRow {
    align-items: center;
    padding-left: 0;
  }

  .footerAvatar {
    width: 100px;
    height: 100px;
    margin-bottom: 0.5rem;
  }

  .footertable ul {
    text-align: left;
    margin-top: 1rem;
  }

  .listHeading {
    margin-top: 1.2rem !important;
  }

  .footercontent {
    font-size: 14px;
    text-align: center;
    margin-top: 1.8rem;
  }
}

@media only screen and (max-width: 950px){
  .logo{
    font-size: 20px;
  }
   .navlinks {
     padding: 0.5rem;
     font-size: 13px;
   }
     .navbar {
       padding: 0.7rem 2rem;
     }
         .footertable {
           width: 90%;
           grid-template-columns: 1.2fr 1fr 1fr;
         }
    .footerLogoRow {
      padding-left: 0;
      align-items: flex-start;
    }
  
    .footerAvatar {
      width: 120px;
      height: 120px;
    }
  .css-yi1c6h {
    --slider-track-width: 2rem !important;
    --slider-track-height: 1rem !important;
}
}

@media only screen and (max-width: 380px) {
  .footerlogo {
    font-size: 20px;
  }

  .footerAvatar {
    width: 90px;
    height: 90px;
  }

  .footercontent {
    font-size: 13px;
  }
}

